body #board {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 100px;
}

#homepage #startgame {
  width: 300px; 
  padding: 20px; 
  cursor: pointer; 
  box-shadow: 6px 6px 5px #999; 
  -webkit-box-shadow: 6px 6px 5px #999; 
  -moz-box-shadow: 6px 6px 5px #999; 
  font-weight: bold; 
  background: #ffff00; 
  color: #000; 
  border-radius: 10px; 
  border: 1px solid #999; 
  font-size: 150%;
}

/* surrounding bombs number color - determined at board generation */
body #board .bomb-num1 {
  color: blue;
}

body #board .bomb-num2 {
  color: green;
}

body #board .bomb-num3 {
  color: red;
}

body #board .bomb-num4 {
  color: purple;
}

body #board .bomb-num5 {
  color: maroon;
}

body #board .bomb-num6 {
  color: turquoise;
}

body #board .bomb-num7 {
  color: black;
}

body #board .bomb-num8 {
  color: gray;
}

#sizeSelection .sizeSelectionText {
  color: rgb(14, 48, 87);
}

#htmlform .form-items {
  color: rgb(16, 27, 48);
}