body #board {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 100px;
}

#htmlform #small #med #large {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#homepage #startgame {
  width: 300px; 
  padding: 20px; 
  cursor: pointer; 
  box-shadow: 6px 6px 5px #999; 
  -webkit-box-shadow: 6px 6px 5px #999; 
  -moz-box-shadow: 6px 6px 5px #999; 
  font-weight: bold; 
  background: #ffff00; 
  color: #000; 
  border-radius: 10px; 
  border: 1px solid #999; 
  font-size: 150%;
}

#sizeSelection .sizeSelectionText {
  color: rgb(14, 48, 87);
}

#htmlform .form-items {
  color: rgb(16, 27, 48);
}